@{
    ViewData["Title"] = "Home Page";
}
@model Kitap

<div class="container">

    <div class="row">
        <div class="col">Kitap Adı : @Model.book_name</div>
    </div>
    <div class="row">
        <div class="col"> Yazar Adı : @Model.writer_name</div>
    </div> 
    <div class="row">
        <div class="col"> Yayınlanma Tarihi : @Model.publication_date</div>
    </div>
     <div class="row">
        <div class="col"> Kitabın Türü : @Model.type</div>
    </div>
    <div class="row">
        <div class="col"> Kitabın Sayfa Sayısı : @Model.book_Number_of_pages</div>
    </div>
</div>
